{% extends 'base/main.html' %}
{% block content  %}

<div class="Top-bar">
    <h1>Sign in</h1>
</div>
<div class="body-card">
    <form method="POST">
        {% csrf_token %}
        <label> {{form.username.label}} </label>
        {{form.username}}
        <label> {{form.password1.label}} </label>
        {{form.password1}}
        <label> {{form.password2.label}} </label>
        {{form.password2}}
        <input style="margin-top:10px" class="button" type="submit" value="Sign in">
    </form>
    <p> Do you have an account? <a href="{% url 'login' %}"> Log in </a> </p>
</div>


{% endblock content  %}